body {
    background-color: hsl(30, 38%, 92%);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

#pic img{
    max-width: 100%;
    border-radius: 20px 0px 0px 20px;
}

#section {

    background-color: hsl(0, 0%, 100%);
    border-radius: 0px 20px 20px 0px;
    width: 500px;
    height: 800px;
    padding: 50px;
}

#section h2 {
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    letter-spacing: 5px;

}

#section h1 {
    color: black;
    font-family: 'Fraunces', serif;
    font-size: 72px;

}

.description {
    color: hsl(228, 12%, 48%);
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 4rem;

}

.price {
    font-size: 68px;
    color:hsl(113, 63%, 30%);
    font-family: 'Fraunces', serif;
}

s {
    color: hsl(228, 12%, 48%);
    font-size: 30px;
    margin-left: 50px;
    font-family: 'Fraunces', serif;
}

#buy-button {
    margin-top: 15px;
    width: 100%;
    color: hsl(0, 0%, 100%);
    border-radius: 20px;
    height: 10%;
    cursor: pointer;
    background-color: hsl(101, 27%, 36%);
    border: 0px;
    font-weight: 700;
    font-size: 25px;
}

#buy-button:hover {
    background-color: hsl(101, 24%, 35%);
    border: 3px solid rgb(128, 128, 128);
}

#buy-button:active {
    background-color: hsl(101, 20%, 30%);
    box-shadow: -1px -1px rgb(128, 128, 128);
}

@media screen and (max-width: 500px) {
    #pic img {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
    }

    #section {
        border-radius: 0px 0px 20px 20px;
        width: 100%;
        height: 100%;
    }
    #section h2 {
        text-transform: uppercase;
        color: hsl(228, 12%, 48%);
        font-weight: 500;
        letter-spacing: 5px;
        font-size: 9px;
    
    }
    
    #section h1 {
        color: black;
        font-family: 'Fraunces', serif;
        font-size: 36px;
    
    }
    
    .description {
        color: hsl(228, 12%, 48%);
        font-size: 38px;
        font-weight: 500;
        margin-bottom: 4rem;
        font-size: 12px;
    
    }
    
    .price {
        font-size: 34px;
        color:hsl(113, 63%, 30%);
        font-family: 'Fraunces', serif;
    }
    
    s {
        color: hsl(228, 12%, 48%);
        font-size: 15px;
        margin-left: 50px;
        font-family: 'Fraunces', serif;
    }
    
    #buy-button {
        margin-top: 15px;
        width: 100%;
        color: hsl(0, 0%, 100%);
        border-radius: 20px;
        height: 10%;
        cursor: pointer;
        background-color: hsl(101, 27%, 36%);
        border: 0px;
        font-weight: 700;
        font-size: 25px;
    }
}